{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block body %}
    <h1 class='menu_sys_h1'>Список Брендов</h1>
<br class = 'clr'/>
{{ wo_render_breadcrumbs() }}

<div class = 'menu_sys_main_conteiner'>
           
{% block navigator %}    
    {% include 'ItcAdminBundle::navigator.html.twig' with {'route': route} %}
    {% include 'ItcAdminBundle::addnew.html.twig' with {'route': route} %}
{% endblock %}    
    
<table class="records_list">
    <thead>
        <tr>
            <th class = 'w50px'>{{ "id"|trans }}</th>
{#            <th class = 'w50px'>{{ "kod"|trans }}</th>#}
            <th>{{ "title"|trans }}</th>
            <th class = 'w150px'>{{ "translit"|trans }}</th>
            <th class = 'w150px'>{{ "actions"|trans }}</th>
        </tr>
    </thead>

    <tbody>

    {% for entity in entities %}

        <tr id="tr_brand_{{entity.id}}">
            <td class = 'right'>{{ entity.id }}</td>
            {#<td class = 'right'>{{ entity.kod }}</td>#}
            <td>{{ entity.translate(locale).getTitle() }}</td>
            <td>{{ entity.translit }}</td>
            <td class = ''>
                <a class = 'menu_sys_edit new_window' target= '_blank' href="{{ path('brand_edit', { 'id': entity.id }) }}">{{ "edit"|trans }}</a>
                <a class = 'menu_sys_delete delete_object' data-prev="true"
                   data-link="#tr_brand_{{entity.id}}" data-form="#brand_delete_{{entity.id}}">
                    {{ "delete"|trans }}</a>              
                <form id="brand_delete_{{entity.id}}" style = 'display:inline-block' action="{{ path('brand_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget( delete_form[entity.id] ) }}
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {{ block("navigator") }}
<br class = 'clr'/>    
       
</div>
{% endblock %}
