{% extends 'MainSiteBundle::layout.html.twig' %}
{% block menu %}
    {{parent()}}
{% endblock %}
{% block body %}
    
    <section id="slider-wrapper">
            <a id="playPauseButton" class="show" href="#" data-link="#index_slider">
                <span class="hide-text" style="opacity: 1;">Hide Slideshow</span>
                <span class="show-text" style="opacity: 0;">Show Slideshow</span>
            </a>
    <div class="slider-bg">
        <div class="wrapper" >    
            {% if images|length > 0%}
            <div id="index_slider">            
                {% for image in images %}
                    <img src = '{{ vich_uploader_asset( image, 'image' ) }}' alt="" title="#image_text_{{ image.id }}" style="float: right;"  />
                {% endfor %}
                <div style="opacity: 1;" class="nivo-caption">
                    <div style="display: block;" class="nivo-caption-inner">                        
                        
                    </div>                    
                </div>    
            </div>
            {% for image in images %}
                    <div id="image_text_{{ image.id }}" class="hidden">
                        <h5> {{ image.title }} </h5>
                    </div>
            {% endfor %}
            {% else %}
            нет картинок!
            {% endif %}
        </div>
    </div>
    </section>          
	<div class="primary_content_wrap">
   	<div class="container_12 clearfix">
      	<div class="grid_12">
            <div class="indent">
	<div id="my_poststypewidget-2">
            <ul class='post_list extra'>
                {% for child in childrens %}
                <li class="cat_post_item-1 clearfix">
                    <h2>
                        <a class="post-title" href="#" rel="" title="">
                            {{ child.title }}
                        </a>
                    </h2>			            
                    <div class="post_content">
                        {{ child.content }}
                    </div>			                         
                    <a href="http://livedemo00.template-help.com/wordpress_37934/extra-view/quick/" class="link">Read More</a>
                    <div class="picture">
                        <a href="http://livedemo00.template-help.com/wordpress_37934/extra-view/quick/">
                            <img width="107" height="107" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/img-1.png" class="attachment-post-thumbnail wp-post-image" alt="img-1" title="img-1" />              			                  
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
		
</div>   
                 <div id="my_cyclewidget-2">                  <h2>Areas Of Practice</h2>						
						                  
                  
<div id="slider-code">
	<div class="viewport">
		<ul class="overview">
								                                						 	
                      <li>
                                                	<a href="http://livedemo00.template-help.com/wordpress_37934/services-view/morbi-ornare-egestas-urna/"><img width="210" height="169" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-1-210x169.jpg" class="attachment-post-thumbnail wp-post-image" alt="service-1" title="service-1" /></a>
                                              </li>
                   	
                      <li>
                                                	<a href="http://livedemo00.template-help.com/wordpress_37934/services-view/pellentesque-habitant-morbi/"><img width="210" height="169" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-2-210x169.jpg" class="attachment-post-thumbnail wp-post-image" alt="service-2" title="service-2" /></a>
                                              </li>
                   	
                      <li>
                                                	<a href="http://livedemo00.template-help.com/wordpress_37934/services-view/aenean-pulvinar-ligula/"><img width="210" height="169" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-3-210x169.jpg" class="attachment-post-thumbnail wp-post-image" alt="service-3" title="service-3" /></a>
                                              </li>
                   	
                      <li>
                                                	<a href="http://livedemo00.template-help.com/wordpress_37934/services-view/donec-in-eros-quis/"><img width="210" height="169" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-4-210x169.jpg" class="attachment-post-thumbnail wp-post-image" alt="service-4" title="service-4" /></a>
                                              </li>
                   	
                      <li>
                                                	<a href="http://livedemo00.template-help.com/wordpress_37934/services-view/nulla-gravida-tellus/"><img width="210" height="169" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-5-210x169.jpg" class="attachment-post-thumbnail wp-post-image" alt="service-5" title="service-5" /></a>
                                              </li>
                   	
                      <li>
                                                	<a href="http://livedemo00.template-help.com/wordpress_37934/services-view/fusce-facilisis-elit-quis/"><img width="210" height="169" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-6-210x169.jpg" class="attachment-post-thumbnail wp-post-image" alt="service-6" title="service-6" /></a>
                                              </li>
                   	
                      <li>
                                                	<a href="http://livedemo00.template-help.com/wordpress_37934/services-view/donec-eget-sapien/"><img width="210" height="169" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-7-210x169.jpg" class="attachment-post-thumbnail wp-post-image" alt="service-7" title="service-7" /></a>
                                              </li>
                                   		</ul>
	</div>
   <ul class="pager">
        <li><a rel="0" class="pagenum" href="#"></a></li>
        <li><a rel="1" class="pagenum" href="#"></a></li>
        <li><a rel="2" class="pagenum" href="#"></a></li>
    </ul>
</div>
              <!-- end of portfolio_cycle -->
            
						              </div>           
                 <div id="my_postwidget-2">                  <h2>Latest News</h2>						
												
                  
                  
                  
                  
                  
                  
<div id="showcase" class="showcase">
    <!-- Each child div in #showcase represents a slide -->
    
	          
    <div class="showcase-slide">
    
        <div class="showcase-content">
            <div class="showcase-content-wrapper">
					<figure class="big-thumbnail"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/lorem-ipsum-dolor-sit-ametcos/"><img width="689" height="182" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/picture-1.jpg" class="attachment-post-thumbnail-xl wp-post-image" alt="picture-1" title="picture-1" /></a></figure>            </div>
        </div>
        
        <div class="showcase-caption">
            <div class="title"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/lorem-ipsum-dolor-sit-ametcos/"><b>08 Feb, 2012</b> - Lorem ipsum dolor sit ametcos</a></div>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie co nsequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsa.             <a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/lorem-ipsum-dolor-sit-ametcos/">Read More</a>
        </div>
        
			<div class="showcase-thumbnail">
					<figure class="small-thumbnail"><img width="49" height="49" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/picture-1-49x49.jpg" class="attachment-small-post-thumbnail wp-post-image" alt="picture-1" title="picture-1" /></figure>				<div class="showcase-thumbnail-caption">Lorem ipsum dolor sit ametcos<i>08 Feb, 2012</i></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
        
    </div>
    
	    
    <div class="showcase-slide">
    
        <div class="showcase-content">
            <div class="showcase-content-wrapper">
					<figure class="big-thumbnail"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ectetuer-adipiscing-elitsed-diamn/"><img width="689" height="182" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-6-689x182.jpg" class="attachment-post-thumbnail-xl wp-post-image" alt="service-6" title="service-6" /></a></figure>            </div>
        </div>
        
        <div class="showcase-caption">
            <div class="title"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ectetuer-adipiscing-elitsed-diamn/"><b>08 Jan, 2012</b> - Ectetuer adipiscing elitsed diamn</a></div>
            Vestibulum id erat nibh. Cras nunc ligula, pellentesque sed sodales vel, commodo et purus. In auctor est at sapien iaculis ornare. Ut neque mauris, convallis sed iaculis sit amet, consequat sed quam. Sed interdum porttitor blandit. Nulla lacinia odio quis velit hendrerit sed blandit arcu pretium. Mauris lacus justo, gravida mollis rhoncus nec, consectetur et libero. Proin ornare, eros vel dignissim semper, dolor purus porttitor lorem, vel lacinia             <a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ectetuer-adipiscing-elitsed-diamn/">Read More</a>
        </div>
        
			<div class="showcase-thumbnail">
					<figure class="small-thumbnail"><img width="49" height="49" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-6-49x49.jpg" class="attachment-small-post-thumbnail wp-post-image" alt="service-6" title="service-6" /></figure>				<div class="showcase-thumbnail-caption">Ectetuer adipiscing elitsed diamn<i>08 Jan, 2012</i></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
        
    </div>
    
	    
    <div class="showcase-slide">
    
        <div class="showcase-content">
            <div class="showcase-content-wrapper">
					<figure class="big-thumbnail"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ummy-nibh-euismod-tincidunt-ut/"><img width="689" height="182" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-7-689x182.jpg" class="attachment-post-thumbnail-xl wp-post-image" alt="service-7" title="service-7" /></a></figure>            </div>
        </div>
        
        <div class="showcase-caption">
            <div class="title"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ummy-nibh-euismod-tincidunt-ut/"><b>08 Dec, 2011</b> - Ummy nibh euismod tincidunt ut</a></div>
            Morbi sagittis varius tincidunt. Suspendisse ultrices imperdiet tortor eget rhoncus. Vestibulum congue velit vitae metus sodales vehicula. Nullam egestas purus nec justo auctor et elementum justo tempor. Duis odio ligula, sagittis eget aliquam vel, lobortis eget sem. Nunc eleifend leo quis tellus congue dapibus. Nulla eu sapien lectus, ullamcorper placerat lacus. Proin viverra purus id sem accumsan vel rhoncus nunc viverra. Ut ac dui sed enim vulputate scelerisque             <a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ummy-nibh-euismod-tincidunt-ut/">Read More</a>
        </div>
        
			<div class="showcase-thumbnail">
					<figure class="small-thumbnail"><img width="49" height="49" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-7-49x49.jpg" class="attachment-small-post-thumbnail wp-post-image" alt="service-7" title="service-7" /></figure>				<div class="showcase-thumbnail-caption">Ummy nibh euismod tincidunt ut<i>08 Dec, 2011</i></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
        
    </div>
    
	    
    <div class="showcase-slide">
    
        <div class="showcase-content">
            <div class="showcase-content-wrapper">
					<figure class="big-thumbnail"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/laoreet-dolore-magna-aliqu/"><img width="689" height="182" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-2-689x182.jpg" class="attachment-post-thumbnail-xl wp-post-image" alt="service-2" title="service-2" /></a></figure>            </div>
        </div>
        
        <div class="showcase-caption">
            <div class="title"><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/laoreet-dolore-magna-aliqu/"><b>08 Nov, 2011</b> - Laoreet dolore magna aliqu</a></div>
            Donec eget sapien ipsum, in condimentum nisl. Integer sodales mollis felis eget elementum. Nullam ut augue lectus, a imperdiet leo. Etiam laoreet ornare aliquam. Morbi mollis, felis vitae auctor luctus, quam sem venenatis ante, in commodo odio lacus id lectus. Aliquam mauris felis, egestas at laoreet ac, placerat vitae sem. Mauris posuere consectetur interdum. Sed sollicitudin ultricies ligula, vel mollis nisl euismod sagittis. Sed et odio quam, non             <a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/laoreet-dolore-magna-aliqu/">Read More</a>
        </div>
        
			<div class="showcase-thumbnail">
					<figure class="small-thumbnail"><img width="49" height="49" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-2-49x49.jpg" class="attachment-small-post-thumbnail wp-post-image" alt="service-2" title="service-2" /></figure>				<div class="showcase-thumbnail-caption">Laoreet dolore magna aliqu<i>08 Nov, 2011</i></div>
				<div class="showcase-thumbnail-cover"></div>
			</div>
        
    </div>
    
	       
</div>
                  


																
								
								<!-- Link under post cycle -->
								
								
              </div>			 
           
            	<div class="clear"></div>
            </div>
         </div>
      </div>
   </div>
   
	<footer id="footer">
   
      <div id="back-top-wrapper">
         <p id="back-top">
            <a href="#top"><span></span></a>
         </p>
      </div>
         
      <div class="footer-widget-area">
         <div class="container_12 clearfix">
            <div class="grid_12">
            	<div class="wrapper">
      
                  <div class="grid_3 alpha">
                     <div id="text-2"><h4>Socialize With Us</h4>			<div class="textwidget">8901 Marmora Road,<br>Glasgow, D04 89GR.<br>Telephone:  +1 800 603 6035</div>
		</div><div id="social_networks-2">		
			<ul class="social-networks">
				
								    								<li>
							<a rel="external" title="flickr" href="http://www.flickr.com">
						    											<img src="http://livedemo00.template-help.com/wordpress_37934/wp-content/themes/theme1466/images/icons/flickr.png" alt="">
															</a>
						</li>
													    								<li>
							<a rel="external" title="feed" href="feed">
						    											<img src="http://livedemo00.template-help.com/wordpress_37934/wp-content/themes/theme1466/images/icons/feed.png" alt="">
															</a>
						</li>
													    								<li>
							<a rel="external" title="stumble" href="http://stumble.com">
						    											<img src="http://livedemo00.template-help.com/wordpress_37934/wp-content/themes/theme1466/images/icons/stumble.png" alt="">
															</a>
						</li>
													    								<li>
							<a rel="external" title="technorati" href="http://technorati.com">
						    											<img src="http://livedemo00.template-help.com/wordpress_37934/wp-content/themes/theme1466/images/icons/technorati.png" alt="">
															</a>
						</li>
													    								<li>
							<a rel="external" title="twitter" href="http://twitter.com">
						    											<img src="http://livedemo00.template-help.com/wordpress_37934/wp-content/themes/theme1466/images/icons/twitter.png" alt="">
															</a>
						</li>
													    										    										      
      		</ul>
      
		</div>                  </div>
                  
                  <div class="grid_3">
                     <div id="text-3"><h4>About</h4>			<div class="textwidget">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diamnon
ummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nost. <a href="company">Read More</a></div>
		</div>                  </div>
                  
                  <div class="grid_3">
                     		<div id="recent-posts-2">		<h4>Recent Posts</h4>		<ul>
				<li><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/lorem-ipsum-dolor-sit-ametcos/" title="Lorem ipsum dolor sit ametcos">Lorem ipsum dolor sit ametcos</a></li>
				<li><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ectetuer-adipiscing-elitsed-diamn/" title="Ectetuer adipiscing elitsed diamn">Ectetuer adipiscing elitsed diamn</a></li>
				<li><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/ummy-nibh-euismod-tincidunt-ut/" title="Ummy nibh euismod tincidunt ut">Ummy nibh euismod tincidunt ut</a></li>
				<li><a href="http://livedemo00.template-help.com/wordpress_37934/sed-tincidunt-mauris/laoreet-dolore-magna-aliqu/" title="Laoreet dolore magna aliqu">Laoreet dolore magna aliqu</a></li>
				</ul>
		</div>                  </div>
                  
                  <div class="grid_3 omega">
                  	<div class="extra">
								<div id="archives-2"><h4>Archive</h4>		<ul>
			<li><a href='http://livedemo00.template-help.com/wordpress_37934/2012/02/' title='February 2012'>February 2012</a></li>
	<li><a href='http://livedemo00.template-help.com/wordpress_37934/2012/01/' title='January 2012'>January 2012</a></li>
	<li><a href='http://livedemo00.template-help.com/wordpress_37934/2011/12/' title='December 2011'>December 2011</a></li>
	<li><a href='http://livedemo00.template-help.com/wordpress_37934/2011/11/' title='November 2011'>November 2011</a></li>
		</ul>
</div>                     </div>
                  </div>
         	
            	</div>
            </div>
         </div>
      </div>
      
      <div class="footer-info">
         <div class="container_12 clearfix">
            <div class="grid_12">
            	<div class="wrapper">
      	<p><a href="http://livedemo00.template-help.com/wordpress_37934/" title="Just another WordPress site" class="site-name">Case</a> (c) 2012 | <a href="privacy-policy">Privacy policy</a> </p>
                           	
            	</div>
            </div>
         </div>
      </div>
        
	</footer>
   
</div><!--#main-->
<script type='text/javascript' src='http://livedemo00.template-help.com/wordpress_37934/wp-content/plugins/contact-form-7/jquery.form.js?ver=2.52'></script>
<script type='text/javascript' src='http://livedemo00.template-help.com/wordpress_37934/wp-content/plugins/contact-form-7/scripts.js?ver=3.0.2.1'></script>
 <!-- this is used by many Wordpress features and for plugins to work properly -->

<!--LIVEDEMO_00 -->

<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
{% endblock %}