    <div class="container_12 clearfix"> 
        <div class="grid_12">
            <div class="logo">
                <a href="#" id="logo">
                    <img src="/bundles/mainsite/image/logo01.png" alt="Case" title="">
                </a>
                </div>
                <nav class="primary">
                    <ul id="topnav" class="sf-menu">
                    {% for entity in entities %}
                    <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item 
                        page_item page-item current_page_item menu-item">
                        <a href="">
                            {{entity.title}}
                        </a>
                        {% if entity.children.isEmpty == false %} 
                        <ul class="sub-menu">
                            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47">
                                <a href="">
                                    
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item 
                        page_item page-item current_page_item menu-item">
                        <a href="">
                            {{ locale }}
                        </a>
                        {% for lang in languages %}
                            {% if lang != locale %}
                                <ul class="sub-menu">
                                    <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47">
                                        <a href="{{lang}}">
                                            {{ lang }}
                                 {#           {{ path(app.request.getPathInfo(), {'_locale': lang} ) }}#}
                                            {#{{ path(route, {'_locale': lang} ) }}#}
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </li>
                    
                    </ul>
                 </nav>
            </div>
        </div>