<aside id="sidebar" class="grid_3 omega">
<div class="indent-left">
    <div id="archives-3" class="widget">
    <h3>{{ entity.title }}</h3>
    <ul>
        {% for menu in menus %}
            {% if entity.id == menu.id %}
                <li>
                    <a class="current" href="/{{ menu.translit }}"> {{ menu.title }}</a>
                </li>
            {% else %}
            <li>
                <a style="" href="/{{ menu.translit }}"> {{ menu.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
    </ul>
    </div>
    <div id="text-4" class="widget">
        <h3>Контакты</h3>
            <div class="textwidget">
                {{  "contacts" | trans }}
            </div>
    </div>
    <div id="tag_cloud-2" class="widget">
        <h3>Облако тегов</h3>
        <div class="tagcloud">
            {% for keyword in keywords %}
                <a class="tag-link-25" style="font-size: 8pt;" title="1 topic" href="#">
                    {{ keyword.keyword }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
</aside>