{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block menu %}
{% endblock %}
{% block body %}
{{ tinymce_init() }}

<div class = 'menu_sys_top_menu_bg'></div>
<div class = 'menu_sys_main_conteiner'>
<h1 class = 'menu_sys_h1'>{{ "Brand creation"|trans({}, "brand") }}
    <br />
    <br />
</h1>

<hr />
<div class = 'fl' style = 'position: fixed; top: 5px; right: 10px; height: 30px;'>
    
</div>
<form action="{{ path('brand_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>

    <div class = '' style = 'position: fixed; top: 5px; right: 80px; height: 30px;'>
        <div class = 'fl'>
            <button class = 'menu_sys_save_button' type="submit" alt='Сохранить'>  </button>
        </div>
        
    </div>

    <div class = 'float_left'>

        <div class = 'menu_sys_icon_loader'>
            <img style = 'z-index: 0;' src = '/image/m_menu.gif' />

            <div> 
               {{ form_row( form.iconImage, { 'attr': { 'class': 'hidden_loader' } } ) }}

            </div>

        </div>

    </div>

    <div class = 'menu_sys_upper_form fl'>
        <div class = 'fl'>
{#            {{ form_row( form.kod ) }} #}
        </div>
    </div>
    
    {# какая-то муть по языкам #}
    <br class = 'clr' />
    <hr />
    <div class = 'menu_sys_lang_select'>

        {% for language in languages %}

            {% set lang = language %}
            {% if lang == locale %}{% set current = 'current' %}
            {% else %}{% set current = '' %}
            {% endif %}
            <div class = 'menu_sys_lang_tab {{ current }}' lang = '{{lang}}' rel = '{{lang}}'>

                {{ lang }}
            </div>

        {% endfor %}

        <br class = 'clr' />

        <div class = 'menu_sys_content_show'>

        {% for language in languages %}

            {% set lang = language %}

            {% if lang != locale %} 
                {% set hide = 'hide' %}
            {% else %}
                {% set hide = '' %}
            {% endif %}

            <div class = 'menu_sys_lang_show {{ hide }}' lang = '{{lang}}' rel = '{{lang}}'>

                 <div>
                    {% set desc = form[lang~"Translation.title"] %}
                    {{ form_label(  desc ) }}
                    {{ form_errors( desc ) }}
                    {{ form_widget( desc, { 'attr': {'class': 'menu_sys_input_edit'} }) }}
                </div>
                 <div>
                    {% set desc = form[lang~"Translation.translit"] %}
                    {{ form_label(  desc ) }}
                    {{ form_errors( desc ) }}
                    {{ form_widget( desc, { 'attr': {'class': 'menu_sys_input_edit'} } ) }}
                </div>
                
                <div>
                    {% set desc = form[lang~"Translation.description"] %}
                    {{ form_label(  desc ) }}
                    {{ form_errors( desc ) }}
                    {{ form_widget( desc, { 'attr': {'class': 'menu_sys_description_input'} }) }}
                </div>
                <div>
                {#{ form_row( form[lang~"Translation.description"] ) }#}
                {% set content = form[lang~"Translation.content"] %}
                    {{ form_label(  content ) }}
                    {{ form_errors( content ) }}
                    {# костыль #}
                    {{ form_widget( content, { 'attr': {'style': 'width:85%; height:300px'} }) }}
                </div>
            </div>        

        {% endfor %}

        </div>
    </div>

    <br class="clr" />


    {# какая-то муть по языкам #}
    {{ form_rest(form) }}

</form>
</div>
{% endblock %}
