{% extends 'ItcAdminBundle::layout.html.twig' %}
{% block body %}
<h1>User list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Id</th>
            <th>Login</th>
            <th>FIO</th>
            <th>Status</th>
            <th>Email</th>
            <th>tel</th>
            <th>DateReg</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
    {% for entity in entities %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a class = 'menu_sys_edit new_window' target= '_blank'  href="{{ path('user_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.fio }}</td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.tel }}</td>
            <td>{% if entity.dateRegistrate %}{{ entity.dateRegistrate|date('Y-m-d H:i:s') }}{% endif %}</td>
            
            <td>
                <a class = 'menu_sys_edit new_window' target= '_blank' href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
      {# <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
           {{ form_row(delete_form._token) }}
            <button type="submit">delete</button>
        </form>#}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('user_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}